* {
    box-sizing: border-box;
}
:root {
    --clr-silver: #eeeee4;
    --clr-pink:#fbe0b3;
    --font-size: 16px;
    --clr-white: white;
    --Clr-black: black;
}
body {
    margin: 1em;
    background-color: var(--clr-white);
    font-size: var(--font-size);
}
.nav {
    width: 100%;
    background-color: var(--clr-pink);
    margin: 0;
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 4em;
}
a {
    text-decoration: none;
    color: var(--Clr-black);
    font-size: 1.5em;
}
ul li {
    padding-right: 2em;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5em;
    color: var(--Clr-black);
}
input[type=search] {
    background-color: var(--clr-white);
    color: var(--Clr-black);
    border-radius: 1em;
    border-color: var(--clr-pink);
    height: 2.5em;
    width: 15em;
}
input[type=submit] {
    background-color: var(--clr-white);
    color: var(--Clr-black);
    border-radius: 1em;
    border-color: var(--clr-pink);
    height: 2.5em;
}
input[type=text] {
    background-color: var(--clr-white);
    color: var(--Clr-black);
    border-radius: 1em;
    border-color: var(--clr-pink);
    height: 2.5em;
    width: 15em;
}
input[type=email] {
    background-color: var(--clr-white);
    color: var(--Clr-black);
    border-radius: 1em;
    border-color: var(--clr-pink);
    height: 2.5em;
    width: 15em;
}
input[type=password] {
    background-color: var(--clr-white);
    color: var(--Clr-black);
    border-radius: 1em;
    border-color: var(--clr-pink);
    height: 2.5em;
    width: 15em;
}
input[type=checkbox] {
    border-radius: 1em;
    border-color: var(--clr-pink);
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 4em;
    margin-top: -1em;

}
ol {
    list-style: none;
    font-size: 10px;
    text-align: center;
}
#footer {
    text-align: center;
    font-size: 15px;
}
.footer {
    background-color: var(--clr-pink);
}
.container {
    padding-left: 15em;
}
@media screen and (max-width:700px) {
    #grid{
    display: grid;
    grid-template-columns: 1fr;
    }
}